:root{
    /* PRIMARY */
 --StrongCyan: hsl(171, 66%, 44%);
 --LightBlue: hsl(233, 100%, 69%);
 /* NEUTRAL */
 --DarkGrayishBlue: hsl(210, 10%, 33%);
 --GrayishBlue: hsl(201, 11%, 66%);
 /* FONTS */
 --bajJamjuree: 'Bai Jamjuree', sans-serif;

}

.attribution {font-size: 11px; text-align: center;}
.attribution a {color: hsl(228, 45%, 44%);}

/*
==================
DEFAULT ATTRIBUTES
==================
*/

body{
    font-family: var(--bajJamjuree);
}

.paragraph{
    color: var(--GrayishBlue);
    font-size: 18px;
}

.btn{
    color: #fff;
    border-radius: 2rem;
    border: none;
    padding: .7rem 2rem .7rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: -20px 20px 20px -15px rgba(0,0,0,0.1);
    margin: .5rem;
}

.btn-ios{
    background-color: var(--StrongCyan);
}

.btn-mac{
    background-color: var(--LightBlue);
}

/*
========================
HEADER : DESKTOP VERSION
========================
*/
.header{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.background{
    width: 100%;
    background-image: url(/images/bg-header-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container{
    margin: 5rem 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-paragraph{
    text-align: center;
    width: 35rem;
}

/*
==================================
SECTION : DESKTOP VERSION
==================================
*/

.section{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.section-head{
    display: block;
    text-align: center;
    width: 100%;
    padding: 5rem 0;

}

.section-paragraph{
    margin-left: 25rem;
    width: 45rem;
}

.section-main{
    display: flex;
}

.section-main__container{
    margin: 3rem 0 0 5rem;
    width: 22rem;
}

/*
==============================
INFO SECTION : DESKTOP VERSION
==============================
*/

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
=========================
ARTICLE : DESKTOP VERSION
=========================
*/

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-cards{
    display: flex;
}

.article-card{
    text-align: center;
    width: 23rem;
    padding: 2rem;
}

.business{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.business-img{
    margin: 8rem 2rem;
}

/*
==================================
DOWNLOAD : DESKTOP VERSION
==================================
*/

.download{
    text-align: center;
    margin-bottom: 10rem;
}


/*
========================
FOOTER : DESKTOP VERSION
========================
*/

.footer{
    display: flex;
    background-color:hsl(200, 22%, 92%);
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}

.footer-logo{
    width: 5rem;
    height: 5rem;
}

.footer-text{
    display: flex;
    width: 27rem;
    flex-wrap: wrap;
}

.footer-text h4{
    margin: 1rem;
}

.icons{
    margin: 1rem;
}

@media(max-width: 375px){


    body{
        width: auto;
    }
    
    .header-paragraph{
        width: auto;
    }

    .btn-container{
        text-align: center;
    }

    .section-paragraph{
        margin-left: 0;
        text-align: center;
        width: auto;
        margin: 0 1rem;
    }

    .section-main{
        display: block;
        text-align: center;
    }

    .section-main__container{
        margin: 0;
    }
    .computer{
        width: 340px;
        height: a;
    }

    .info-title{
        text-align: center;
    }

    .info-paragraph{
        text-align: center;
    }

    .info-img{
        width: 310px;
        height: auto;
    }

    .article{
        text-align: center;
    }

    .container-cards{
        display: block;
    }
    .article-card{
        margin: 0;
        padding: 0;
        width: auto;
    }

    .business{
        display: block;
        text-align: center;
    }

    .business-img{
        margin: 2rem 3rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 2rem;
    }

    .footer-text{
        flex-direction: column;
        text-align: center;
    }

}